:root{
    --main-bg-color: #3B4252;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--main-bg-color);

}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    max-width: 100%;

    /* Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text Style */
    text-align: center;
    color: var(--main-bg-color);

    /* Background Styles */
    background-image: url('images/hero.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: local;
}

.hero h1{
    /* Text Style */
    font-size: 5em;

    /* Position */
    position: absolute;
    left: 200px;
    top: 200px;
}

h2{
    font-weight: bold;
    color: white;
    font-size: 5em;
    rotate: deg;
}

#skills{
    /* Sizing */
    height: fit-content;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#cards {
    /* Sizing */
    margin-top: 100px;
    margin-bottom: 100px;
    width: 70%;
    height: 70%;

    /* Grid */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);


}

.card{
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;

    /* Border */
    border-style:solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.1);

    /* Sizing */
    min-width: 200px;
    aspect-ratio: 1.4;
    display: block;

    overflow: visible;
}

.card:hover{
    transform: scale(1.1);
}



.card-title{

    border-style: solid;
    border-width: 5px;
    border: black;

    position:absolute;
    top: 30px;
    left: 50px;

    /* Text Style */
    /* background: -webkit-linear-gradient(0deg, #88C0D0, #8FBCBB);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: white !important;

    font-size: 2em;
    font-weight: bold;
    margin-left: 20px;
}

.card > p{
    color: rgb(204, 204, 204);
}



.card > img{
    opacity: 08;
    height: 100px;
    width: auto;
}


