body {
    /* Font Size */
    font-size: 1rem;
    color: #000000;
    font-family: monospace;
    /* Color */
    background-color: #f2f2f2;

    /* Grid Pattern */
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #a1a1a1 1px, rgba(0, 0, 0, 0) 1px);

    
}

p {
    background: #f2f2f2;
    width: fit-content;
}

/* Classes */
.n_raised {
    /* Neumorphic raised card effect */
    border-radius: 50px;
    background: #f2f2f2;
    box-shadow:  20px 20px 60px #cecece,
                 -20px -20px 60px #ffffff;

    margin-left: 100px;
    padding: 30px;


}



/* ID */
#intro {
    height: 100vh;
    width: 100%;

    display: flex;

}


#intro > div{
    /* Ensures that Rohan Raj label is slightly above center */
    height: 75%;
    display: flex;
}

#intro > div > div{
    display: flex;
    align-self: center;
    height: 150px;

    transition: 0.15s;
}

#intro > div > div >h1{
    /* Rohan Raj Label */

    /* Font */
    color: #383838;
    font-size: 100px;
    width:fit-content;
    height: fit-content;

    /* Alignment */

    margin: 10px;
}





#intro > div > div:hover {
    height: 220px;
}
